$sass-test: red;
$sass-test_two: blue;
$base-font-size: 18px;
$base-font-weight: bold;

$base-primary-color: #fbfcfc;
$base-secondary-color: #0794d0;
$base-third-color: #3030f0;
$base-other-color: #88a3bc;
$base-pastel-color: #e6eeed;
